.player-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1%;
    padding: 5%;
}

.player-list h2,h3{
    font-family: "Franklin Gothic Demi", serif;
}

.player-item {
    width: 29%;
    margin-bottom: 10px;
    background-color: #B38867;
    border-radius: 3%;
    padding: 1%;
    border: 5px solid #626D71;
}

.player-item img {
    width: 100%;
    height: 50%;
    border-radius: 10%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .player-item img {
        height: 50%;
        max-height: 150px;
        width: 100%;
        object-fit: cover;
    }

    .player-item {
        width: 100%;
        margin-bottom: 10px;
        border-radius: 3%;
        padding: 5%;
    }
}