.player-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1%;
    padding: 5%;
}

.player-list h2,h3{
    font-family: "Old English Text MT", serif;
}

.player-item {
    width: 27%;
    margin-bottom: 10px;
    background-color: #D1B280;
    border-radius: 3%;
    padding: 1%;
}

.player-item img {
    height: 60%;
    width: 80%;
    border-radius: 10%;
}

@media (max-width: 768px) {
    .player-item img {
        height: 50%;
        max-height: 150px;
        width: 80%;
    }

    .player-item {
        width: 90%;
        margin-bottom: 10px;
        border-radius: 3%;
        padding: 5%;
    }
}