.home-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

.left-image,
.right-image {
    flex-basis: 50%;
}

.left-image img,
.right-image img {
    max-width: 100%;
    height: auto;
}

.text-content {
    flex-basis: 50%;
    text-align: center;
}

@media (max-width: 768px) {
    .home-page {
        flex-direction: column;
    }

    .left-image,
    .right-image {
        flex-basis: 100%;
    }
}
