.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #626D71;
}

.header__title {
    font-size: 34px;
    color:white;
}

.header__nav-list {
    display: flex;
    list-style-type: none;
}

.header__nav-item {
    margin-right: 10px;
    font-size: 25px;
}

.header__nav-item a:hover {
    color: #B38867;
    text-shadow: #282c34;
}

.header__nav-link {
    text-decoration: none;
    color: white;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header__title {
        margin-bottom: 10px;
    }

    .header__nav-list {
        flex-direction: column;
    }

    .header__nav-item {
        margin-right: 0;
        margin-bottom: 5px;
    }
}